/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
.slider-controls {
  display: grid;
  gap: 15px;

  &__arrows {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #slider-prev,
  #slider-next {
    width: 24px;
    height: 24px;
  }

  &__count {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 255, 255, 0.3);
    gap: 6px;
  }

  &__count-current,
  .swiper-pagination-current {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
  }
}
