/* stylelint-disable order/properties-order */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
/* stylelint-disable indentation */
/* stylelint-disable declaration-colon-newline-after */
.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 80px;
  height: 100vh;
  background-repeat: no-repeat;
  cursor: grab;

  &::before {
    content: "";
  }

  &__header {
    text-align: center;
    position: relative;
    color: #fff;
  }

  &__tagline {
    position: absolute;
    top: -8px;
    width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 1.56vw;
    letter-spacing: 0.55em;
    color: rgba(255, 255, 255, 0.7);

    @include small-tablet {
      font-size: 3vw;
    }
  }

  &__title {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    font-weight: 700;
    font-size: 13vw;
    background: linear-gradient(
        47.06deg,
        #000 -3.87%,
        rgba(255, 255, 255, 0) 20.89%
      ),
      #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &--morocco {
      background: linear-gradient(
          37deg,
          #7f8b91 -3.87%,
          rgba(255, 255, 255, 0) 20.89%
        ),
        #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @include small-tablet {
      font-size: 19vw;
    }
  }

  &__locations {
    display: flex;
    gap: 30px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 150px;
    pointer-events: all;
    cursor: pointer;

    @include tablet {
      width: 90%;
    }

    @include small-tablet {
      width: 90%;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &:active {
    cursor: grabbing;
  }

  &--norway {
    background: var(--radial-bg), var(--linear-bg);
    background-image: url("../img/bg1.jpg");
    background-size: cover;
  }

  &--austria {
    background: var(--radial-bg), var(--linear-bg);
    background-image: url("../img/02.jpg");
    background-size: cover;
  }

  &--uae {
    background: var(--radial-bg), var(--linear-bg);
    background-image: url("../img/03.jpg");
    background-size: cover;
  }

  &--thailand {
    background: var(--radial-bg), var(--linear-bg);
    background-image: url("../img/04.jpg");
    background-size: cover;
  }

  &--morocco {
    background: var(--radial-bg), var(--linear-bg);
    background-image: url("../img/05.jpg");
    background-size: cover;
  }

  @include middle-desktop {
    padding-bottom: 60px;
  }

  @include small-tablet {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
