.swiper-scrollbar {
  height: 2px !important;
  border-radius: 0px !important;
  background-color: rgb(255, 255, 255, 0.3) !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgb(255, 255, 255) !important;
}
