<div class="mobile-nav-overlay" data-menu>
  <div class="mobile-nav" id="mobileNav">
    <button class="btn-reset mobile-nav__btn">
      <img src="img/clone-menu.svg" alt="Close menu">
    </button>

    <ul class="list-reset mobile-nav__list">
      <li class="mobile-nav__item"><a href="#" class="mobile-nav__link">Destinations</a></li>
      <li class="mobile-nav__item"><a href="#" class="mobile-nav__link">Activities</a></li>
      <li class="mobile-nav__item"><a href="#" class="mobile-nav__link">About Us</a></li>
      <li class="mobile-nav__item"><a href="#" class="mobile-nav__link">Contact</a></li>
    </ul>
  </div>
</div>
