<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      @include('./slides/slide-01.html')
    </div>
    <div class="swiper-slide">
      @include('./slides/slide-02.html')
    </div>
    <div class="swiper-slide">
      @include('./slides/slide-03.html')
    </div>
    <div class="swiper-slide">
      @include('./slides/slide-04.html')
    </div>
    <div class="swiper-slide">
      @include('./slides/slide-05.html')
    </div>

  </div>
  <!-- If we need pagination -->
  <!-- <div class="swiper-pagination"></div> -->

  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>
